#!/bin/sh

WALLPAPER="$HOME/Pictures/wallpapers/wallpaper"
[ -f "$WALLPAPER" ] && feh --bg-scale "$WALLPAPER"
which emacs && {
  emacs --daemon
  export VISUAL="emacs"
}
which firefox && {
  export BROWSER="firefox"
}
